<div class="h-full relative bg-gray-50 pb-8 overflow-y-scroll">
  <!-- Nav bar -->
  <nav class="h-16 flex-shrink-0 bg-pink-600">
    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <!-- Logo section -->
        <div routerLink="/dashboard" class="flex items-center px-2 lg:px-0 xl:w-64 cursor-pointer">
          <div class="flex-shrink-0">
            <img class="h-8 w-auto" src="/assets/vercator_logo_white.png" alt="logo">
          </div>
        </div>

        <!-- Search section -->
        <div class="flex-1 flex justify-center lg:justify-end">
          <div class="w-full px-2 lg:px-6">
            <label for="search" class="sr-only">Search pets</label>
            <div class="relative text-pink-200 focus-within:text-gray-400">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </div>
              <input id="search" name="search" [(ngModel)]="petFilterStr" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-pink-400 bg-opacity-25 text-pink-100 placeholder-pink-200 focus:outline-none focus:bg-white focus:ring-0 focus:placeholder-gray-400 focus:text-gray-900 sm:text-sm" placeholder="Search pets" type="search">
            </div>
          </div>
        </div>
        <div class="flex lg:hidden">
          <button (click)="showMenu = !showMenu" type="button" class="bg-pink-600 inline-flex items-center justify-center p-2 rounded-md text-pink-400 hover:text-white hover:bg-pink-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-pink-600 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:block lg:w-80">
          <div class="flex items-center justify-end">
            <div class="flex">
              <a routerLink="/create" class="px-3 py-2 rounded-md text-sm font-medium text-pink-200 hover:text-white" aria-current="page">+ Add Pet</a>
              <a (click)="signout()" class="px-3 py-2 rounded-md text-sm font-medium text-pink-200 hover:text-white cursor-pointer" aria-current="page">Sign out</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div *ngIf="showMenu" class="lg:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a routerLink="/create" class="text-white bg-pink-800 block px-3 py-2 rounded-md text-base font-medium" aria-current="page">+ Add pet</a>
        <a (click)="signout()" class="text-white bg-pink-800 block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Sign out</a>
      </div>
    </div>
  </nav>
  <!-- Empty state layout -->
  <div *ngIf="pets.length === 0" class="h-[calc(100%-4rem)] text-center items-center flex">
    <div class="mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <h3 class="mt-2 text-sm font-medium text-gray-900">No pets found</h3>
      <p class="mt-1 text-sm text-gray-500">Get started by adding a new pet.</p>
      <div class="mt-6">
        <button routerLink="/create" type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
          <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
          Add pet
        </button>
      </div>
    </div>
  </div>
  <!-- Pet grid -->
  <div *ngIf="pets.length > 0" class="max-w-7xl px-8 mx-auto">
    <div class="pt-8 flex space-x-5">
      <span (click)="petStatusObservable.next(status.available)" [style.border-color]="petStatus === status.available ? '#064e3b' : ''" class="inline-flex items-center px-3 py-0.5 rounded-full border-2 text-sm font-medium bg-green-100 text-green-800 cursor-pointer"> Available </span>
      <span (click)="petStatusObservable.next(status.pending)" [style.border-color]="petStatus === status.pending ? '#713f12' : ''" class="inline-flex items-center px-3 py-0.5 rounded-full border-2 text-sm font-medium bg-yellow-100 text-yellow-800 cursor-pointer"> Pending </span>
      <span (click)="petStatusObservable.next(status.sold)" [style.border-color]="petStatus === status.sold ? '#7f1d1d' : ''" class="inline-flex items-center px-3 py-0.5 rounded-full border-2 text-sm font-medium bg-red-100 text-red-800 cursor-pointer"> Sold </span>
    </div>
    <div class="pt-8">
      <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <li (click)="openPetDetail(pet.id)" *ngFor="let pet of pets | petFilter: petFilterStr" class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200 cursor-pointer">
          <div class="flex-1 flex flex-col p-8">
            <img class="w-32 h-32 flex-shrink-0 mx-auto rounded-full" [src]="pet.photoUrls[0] && pet.photoUrls[0] !== 'url1' ? pet.photoUrls[0] : 'assets/rex.jpg'" alt="">
            <h3 class="pt-5 text-gray-900 text-sm font-medium">{{ pet.name }}</h3>
            <dl class="mt-1 flex-grow flex flex-col justify-between">
              <dt class="sr-only">{{ pet.name }}</dt>
              <dd>
                <span [style.color]="colorService.getStatusColor(pet.status).txtColor" [style.background-color]="colorService.getStatusColor(pet.status).bgColor" class="px-2 py-1 text-xs font-medium rounded-full">{{ pet.status }}</span>
              </dd>
            </dl>
          </div>
          <div>
            <div class="-mt-px flex divide-x divide-gray-200">
              <div class="w-0 flex-1 flex">
                <a class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <span class="ml-3">Adopt</span>
                </a>
              </div>
              <div class="-ml-px w-0 flex-1 flex">
                <a class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
                  </svg>
                  <span class="ml-3">Send Cookie</span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
