<div class="w-full relative flex items-center bg-white px-4 pt-14 pb-8 overflow-hidden sm:px-6 sm:pt-8 md:p-6 lg:p-8">
  <div type="button" class="absolute flex top-4 space-x-3 right-4 text-gray-400 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8">
    <svg (click)="previous()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
    </svg>
    <svg (click)="close()" class="h-6 w-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <svg (click)="next()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
    </svg>
  </div>

  <div class="w-full grid grid-cols-1 gap-y-8 gap-x-6 items-start sm:grid-cols-12 lg:items-center lg:gap-x-8">
    <div class="aspect-w-2 aspect-h-3 rounded-lg bg-gray-100 overflow-hidden sm:col-span-4 lg:col-span-5">
      <img src="assets/rex.jpg" alt="rex photo" class="object-center object-cover">
    </div>
    <div class="sm:col-span-8 lg:col-span-7">
      <h2 class="text-xl font-medium text-gray-900 sm:pr-12">{{ pet?.name }}</h2>
      <section aria-labelledby="information-heading" class="mt-1">
        <h3 id="information-heading" class="sr-only">Category</h3>
        <p class="font-medium text-gray-900">Category: {{ pet?.category?.name }}</p>
      </section>

      <section aria-labelledby="options-heading" class="mt-3">
        <div>
          <h4 class="text-sm font-medium text-gray-900">Status</h4>
          <span [style.color]="colorService.getStatusColor(pet?.status).txtColor" [style.background-color]="colorService.getStatusColor(pet?.status).bgColor" class="px-2 py-1 text-xs font-medium rounded-full">{{ pet?.status }}</span>
        </div>

        <button class="mt-8 w-full bg-pink-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">Adopt</button>

      </section>
    </div>
  </div>
</div>
