<div class="w-full h-full bg-gray-50">
  <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-12 w-auto" src="/assets/vercator_logo.png" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-gray-900">Sign in to your account</h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form [formGroup]="form" class="space-y-6" method="POST">
          <div>
            <label for="username" class="block text-sm font-medium text-gray-700"> Username </label>
            <div class="mt-1">
              <input id="username" name="username" type="username" autocomplete="username" formControlName="username" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm">
            </div>
            <p *ngIf="controls['username'].errors && controls['username'].touched && controls['username'].value?.length > 0" class="pt-2 text-sm text-red-600">
              username must have at least 4 characters
            </p>
          </div>

          <div>
            <label for="password" class="block text-sm font-medium text-gray-700"> Password </label>
            <div class="mt-1">
              <input id="password" name="password" type="password" autocomplete="current-password" formControlName="password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm">
            </div>
            <p *ngIf="controls['password'].errors && controls['password'].touched && controls['password'].value?.length > 0" class="pt-2 text-sm text-red-600">
              password must have at least 6 characters
            </p>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" formControlName="rememberUser" class="h-4 w-4 text-pink-600 focus:ring-pink-500 border-gray-300 rounded">
              <label for="remember-me" class="ml-2 block text-sm text-gray-900"> Remember me </label>
            </div>
          </div>

          <div>
            <button [disabled]="!isFormValid" (click)="submit()" type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 disabled:bg-gray-300">
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
