<div class="h-full relative bg-gray-100 p-8 overflow-hidden">
  <div class="max-w-7xl p-8 rounded-md mx-auto">

    <!-- Logo section -->
    <div routerLink="/dashboard" class="flex items-center xl:w-64 cursor-pointer">
      <div class="flex-shrink-0">
        <img class="h-8 w-auto" src="/assets/vercator_logo.png" alt="logo">
      </div>
    </div>

    <div class="p-8 mt-5 rounded-md mx-auto bg-white">
      <form [formGroup]="form" class="space-y-8 divide-y divide-gray-200">
        <div class="space-y-8 divide-y divide-gray-200">
          <div>
            <div>
              <h2 class="text-lg leading-6 font-medium text-gray-900">Add Pet</h2>
              <p class="mt-1 text-sm text-gray-500">This information will be displayed publicly so be careful what you share.</p>
            </div>

            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

              <div class="sm:col-span-6">
                <label for="name" class="block text-sm font-medium text-gray-700"> Name </label>
                <div class="mt-1">
                  <input type="text" name="name" id="name" formControlName="name" class="shadow-sm focus:ring-pink-500 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md">
                </div>
              </div>

              <div class="sm:col-span-6">
                <label class="block text-sm font-medium text-gray-700"> Status </label>
                <div class="mt-3">
                  <div class="flex space-x-5">
                    <span (click)="controls['status'].setValue(status.available)" [style.border-color]="controls['status'].value === status.available ? '#064e3b' : ''" class="inline-flex items-center px-3 py-0.5 rounded-full border-2 text-sm font-medium bg-green-100 text-green-800 cursor-pointer"> Available </span>
                    <span (click)="controls['status'].setValue(status.pending)" [style.border-color]="controls['status'].value === status.pending ? '#713f12' : ''" class="inline-flex items-center px-3 py-0.5 rounded-full border-2 text-sm font-medium bg-yellow-100 text-yellow-800 cursor-pointer"> Pending </span>
                    <span (click)="controls['status'].setValue(status.sold)" [style.border-color]="controls['status'].value === status.sold ? '#7f1d1d' : ''" class="inline-flex items-center px-3 py-0.5 rounded-full border-2 text-sm font-medium bg-red-100 text-red-800 cursor-pointer"> Sold </span>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-6">
                <label for="file-upload" class="block text-sm font-medium text-gray-700"> Photo </label>
                <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                  <div class="space-y-1 text-center">
                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                      <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="flex text-sm text-gray-600">
                      <label for="file-upload" class="mx-auto relative cursor-pointer bg-white rounded-md font-medium text-pink-600 hover:text-pink-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-pink-500">
                        <span>{{ photo ? photo : 'Upload a file' }}</span>
                        <input id="file-upload" name="file-upload" type="file" (change)="updatePhoto($event)" class="sr-only">
                      </label>
                      <p *ngIf="!photo" class="pl-1">or drag and drop</p>
                    </div>
                    <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-5">
          <div class="flex justify-end">
            <button routerLink="/dashboard" type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">Cancel</button>
            <button [disabled]="!isFormValid" (click)="submit()" type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 disabled:bg-gray-300">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
